.child-form {
    margin-top: 15px;
    .child_label {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        font-weight: bold;
    }
}

.Tree {
    margin-top: 25px;
}